

.canvas  {
  padding-left: 0;
  padding-right: 0;
  margin-left: 45%;
  margin-right: auto;
  display: block;
  z-index:-2;
}


.hidden {
display: none !important;
}

#panel {
margin-left: auto;
margin-right: auto;
justify-content: center;
align-items: center;
max-width: 800px;
max-height: 600px;
width: 100%;
height: 100%;
}

#myVideo {
object-fit: cover;
position: absolute;
top: 0;
z-index:-100;
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
width: 800px;
height: 600px;
}

#main-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0 ;
  margin-right: auto;
  max-width: 800px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-left: 45%;
  flex-direction: column;
  transition: 0.5 ease-in;
  }

  #main-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-tutorial2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-10points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-20points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-20pointsB {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-30points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #main-40points {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0 ;
    margin-right: auto;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-left: 45%;
    flex-direction: column;
    transition: 0.5 ease-in;
  }

  #myBtnAccept {
    width: 70px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #c3bf64;
    color: #000000;
    cursor: pointer;
    border-radius: 0%;
    z-index: 100;
    margin-left: 126%;
    margin-top: -140px;
    position: relative;
    }
    
    #myBtnAccept:hover {
    background: #e8e376;
    color: rgb(0, 0, 0);
    }

.content {
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
padding-left: 100px;
margin-top: 100px;
margin-right: auto;
max-width: 800px;
max-height: 90px;
width: 100%;
height: 100%;
}

#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
margin-top: -40px;
margin-left: 100px;
border-radius: 0%;
}

#myBtn:hover {
background: #c3bf64;
color: rgb(0, 0, 0);
}

#myBtn2 {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000000;
color: #ffffff;
cursor: pointer;
margin-top: 110px;
margin-left: -204px;
border-radius: 0%;
}

#myBtn2:hover {
background: #c3bf64;
color: rgb(0, 0, 0);
}

/* GAME OVER SETTINGS *//*/////////////////////////////////////////*/

#panelGameOver {
margin-left: 45%;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
}

.contentGameOver {
color: #f1f1f1;
}


#myBtnGameOver2 {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #ff0000;
color: #ffffff;
cursor: pointer;
border-radius: 0%;
z-index: 1;
}

#myBtnGameOver2:hover {
background: #ffffff;
color: rgb(0, 0, 0);
}



/* TRANSICIONES "FADE IN" *//*/////////////////////////////////////////*/

 .transition1 {
  margin-left: 45%;
  display: flex;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
 }

 .transition2 {
  margin-left: 45%;
  display: flex;
  z-index: 1;
  animation: fadeOut 0.5s ease-out;
  opacity: 0;
 }

 @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100;}
 }

 @keyframes fadeOut {
  0% {opacity: 100;}
  100% {opacity: 0;}
 }